* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    align-content: center;
    line-height: 1.2;
}

html {
    font-size: 16px;
}

.appointment-btn:hover {
    background-color: #3559a2;
    color: #fff;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo img {
    width: 50px;
    height: auto;
}

.nav-links {
    display: flex;
    gap: 40px;
}

.nav-links a {
    text-decoration: none;
    color: #00b3b3;
    font-weight: bold;
    position: relative;
    transition: 0.3s;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #00b3b3;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.nav-links a:hover::after,
.nav-links a.active::after {
    width: 100%;
}

.appointment-btn {
    border: 1px solid #00b3b3;
    padding: 8px 18px;
    border-radius: 5px;
    color: #00b3b3;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

.main {
    background-image: url(/image/image1.png);
    background-size: cover;
    height: 100vh;
}

.text {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    padding: 40px;
    gap: 40px;
    font-size: 32px;
}

.text h1 {
    color: #4682B4;
    font-size: 50px;
    width: 60%;
}

.text,
p {
    margin-top: 32px;
    font-size: 28;
}

.btn {
    margin-left: 240px;
}

.btn-style {
    border: 2px solid #00b3b3;
    border-radius: 4px;
    padding: 16px 32px;
    transition: all .3 linear;
    font-size: 20px;
}

.btn-app {
    background-color: #00b3b3;
    color: #fff;
}

.btn-app a {
    text-decoration: none;
    color: #fff;
}

.btn-service {
    color: #00b3b3;
    background-color: transparent;
}

.btn-service a {
    text-decoration: none;
    color: #fff;
}

.btn-style:hover {
    color: #00b3b3;
    border: none;
}

.headmain {
    margin-bottom: 40px;
    width: 80%;
    font-size: 25px;
}

.headmain h1 {
    font-size: 50px;
}

.content {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding: 40px;
    gap: 80px;
}

.image img {
    width: 200px;
    height: 200px;
}

.image {
    background: url(/image/service/2020-11-03.jpg);
    width: 100%;
    height: 100vh;
    text-align: center;
    align-content: center;
}

.grou-card {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-left: 45px;
}

.card-1 {
    width: 25%;
    height: 200px;
    color: white;
    background-color: #3cc7c9;
    text-align: center;
    font-size: 16px;
}

.card-2 {
    background-color: #00b7c2;
    width: 25%;
    color: white;
    text-align: center;
    height: 200px;
}

.card-3 {
    width: 25%;
    text-align: center;
    background-color: #3559a2;
    color: white;
    font-size: 16px;
    height: 200px;
}

.day {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    font-size: px;
}

.server {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.server button {
    font-size: 32px;
    padding: 14px 20px;
    background: #00b3b3;
    border: none;
    border-radius: 8px;
}

.server button a {
    text-decoration: none;
    color: #fff;
}

.server button:hover {
    background: #4682B4;
}

img {
    width: 100%;
    height: auto;
}

.service-card {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.card-server {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 20px;
}

.service-card:hover {
    transform: translateY(-8px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}

.card-content,
h1 {
    font-size: 20px;
    margin-top: 20px;
}

.crad-content,
button {
    margin-top: 20px;
    background-color: #1E90FF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.crad-content,
button a {
    text-decoration: none;
    color: white;
}

.crad-content,
button:hover {
    background: #4682B4
}

.flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.flex-box h1 {
    font-size: 70px;
}

.flex-box p {
    font-size: 25px;
    width: 60%;
    color: gray;
}

.flex-box img {
    width: 500px;
    height: 500px;
}

footer {
    background-color: #1E90FF;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 20px 20px;
    font-family: Arial, sans-serif;
}

.flex {
    text-align: center;
}

.flex h1 {
    font-size: 2.5rem;
    margin: 0;
}

.flex p {
    margin: 5px 0 0;
    font-size: 1.2rm;
}

.box h3 {
    font-size: 24px;
}

#box {
    width: 100%;
    gap: 25px;
    color: #fff;
    background-color: #333;
    padding: 18px;
    margin-top: 40px;
}

.detail {
    margin-top: 16px;
}

#box li {
    list-style: none;
    font-size: 20px;
    padding: 8px;
    transition: all 0.4s;
}

.btn-box {
    display: flex;
    gap: 18px;
}

#box li:hover {
    transform: translateY(-8px);
    color: #ff8c42;
}

@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        padding: 10px 20px;
    }

    .nav-links {
        flex-direction: column;
        gap: 20px;
        margin-top: 10px;
    }

    .text {
        margin-left: 10%;
        font-size: 20px;
        padding: 20px;
        gap: 20px;
    }

    .text h1 {
        font-size: 28px;
        width: 100%;
    }

    .btn {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
    }

    .content {
        flex-direction: column;
        gap: 40px;
        padding: 20px;
    }

    .image {
        height: auto;
    }

    .grou-card {
        flex-direction: column;
        gap: 20px;
        margin-left: 0;
    }

    .card-1,
    .card-2,
    .card-3 {
        width: 100%;
    }

    .flex-box {
        flex-direction: column;
        text-align: center;
    }

    .flex-box img {
        width: 100%;
        height: auto;
    }

    footer {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .navbar {
        padding: 12px 30px;
    }

    .nav-links {
        gap: 25px;
    }

    .text {
        margin-left: 50px;
        font-size: 24px;
    }

    .text h1 {
        font-size: 36px;
        width: 80%;
    }

    .content {
        flex-direction: column;
        gap: 50px;
        padding: 30px;
    }

    .grou-card {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .card-1,
    .card-2,
    .card-3 {
        width: 45%;
    }

    .flex-box {
        flex-direction: column;
        text-align: center;
    }

    .flex-box h1 {
        font-size: 50px;
    }

    .flex-box p {
        font-size: 20px;
        width: 80%;
    }

    footer {
        flex-wrap: wrap;
        gap: 50px;
    }
}